@{
    ViewData["Title"] = "Thống kê";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/Chart.css" />
}

<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li class="active">Thống kê</li>
        </ul>
    </div>
</div>

<div class="section-grey">
    <div class="container">
        <div class="row account">
            @await Html.PartialAsync("Manager\\_MenuLeftAdminPartial")
            <div class="col-lg-9 col-xs-12 content-right" id="content-right">
                <h4 style="display: inline-block;">Thống kê</h4>
                <form method="post" asp-controller="Statistical" asp-action="ExportToExcel">
                    <button id="export-to-excel" type="submit" class="btn btn-info">Export to Excel</button>
                </form>
                <div class="account-profile" id="chart-parent">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="stats-small">
                                <span class="stats-small-icon bg-pink">
                                    <i class="fas fa-users fa-fw"></i>
                                </span>
                                <div class="stats-small-content">
                                    <span class="stats-small-number" id="stats-newuser"></span>
                                    <span class="stats-small-text">Người dùng mới</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="stats-small">
                                <span class="stats-small-icon bg-blue">
                                    <i class="fas fa-wallet fa-fw"></i>
                                </span>
                                <div class="stats-small-content">
                                    <span class="stats-small-number" id="stats-revenue"></span>
                                    <span class="stats-small-text">Doanh thu</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="stats-small">
                                <span class="stats-small-icon bg-yellow">
                                    <i class="fas fa-cart-arrow-down fa-fw"></i>
                                </span>
                                <div class="stats-small-content">
                                    <span class="stats-small-number" id="stats-orders"></span>
                                    <span class="stats-small-text">Đơn đặt hàng</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <canvas id="myChart1" width="400" height="200"></canvas>
                    <canvas id="myChart2" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/Chart.min.js"></script>
    <script type="text/javascript" src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript" src="~/js/DisplayView/Statistical.js"></script>
}

