@model Empyreal.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Đăng nhập";
}

<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-4 content-left">
            <h4>Đăng nhập</h4>
            <p>Đăng nhập để theo dõi đơn hàng, lưu <br>danh sách sản phẩm yêu thích, nhận<br> nhiều ưu đãi hấp dẫn.</p>
            <img src="~/images/login.png">
            @*<section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-controller="Login" asp-action="SignIn" asp-route-returnUrl="" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>*@
        </div>

        <div class="col-lg-6 content-right">
            <ul class="tab-nav">
                <li class="active"><a data-toggle="tab" href="#loginform">Đăng nhập</a></li>
                <li class="li-register">Chưa có tài khoản? <a class="link-blue" asp-controller="Login" asp-action="Register">Đăng ký ngay</a></li>
            </ul>
            <div class="tab-content">
                <div id="loginform" class="tab-pane fade active in">
                    <form class="content bv-form" method="post" asp-controller="Login" asp-action="SignIn" asp-route-returnurl="@ViewData["ReturnUrl"]" id="login_form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group popup_email has-feedback">
                            <label class="control-label login-label" asp-for="Email">Email / SĐT *</label>
                            <input id="popup-login-email" type="text" class="form-control login" asp-for="Email" placeholder="Nhập Email hoặc Số điện thoại">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group popup_password has-feedback">
                            <label class="control-label login-label" asp-for="Password">Mật khẩu *</label>
                            <input type="password" id="login_password" class="form-control login" asp-for="Password" placeholder="Mật khẩu từ 6 đến 32 ký tự">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <p class="reset">Quên mật khẩu? Nhấn vào <a data-toggle="modal" data-target="#reset-password-form" href="#">đây</a></p>
                        </div>

                        <div class="form-group">
                            <button type="submit" id="login_popup_submit" class="btn btn-info btn-block btn-social">Đăng nhập</button>
                        </div>
                        <p class="btn-social">Hoặc đăng nhập bằng</p>
                        <div class="form-group">
                            <a class="btn btn-block btn-social btn-facebook user-name-loginfb" title="Đăng nhập bằng Facebook" href="#" data-url="">
                                <i class="fab fa-facebook-f"></i>
                                <span>&nbsp; Đăng nhập bằng Facebook</span>
                            </a>

                        </div>
                        <div class="form-group">
                            <a class="btn btn-block btn-social btn-google user-name-login-google" title="Đăng nhập bằng Google" href="javascript: void(0)" data-url="https://tiki.vn/customer/account/login_google" style="margin-bottom: 50px;">
                                <i class="fab fa-google-plus-g"></i>
                                <span>&nbsp; Đăng nhập bằng Google</span>
                            </a>
                        </div>
                    </form>
                </div>
                @*<div id="registerform" class="tab-pane fade">

                    </div>*@
            </div>
        </div>
        @*@await Html.PartialAsync("_LoginPartial")*@
    </div>
</div>
