@using Empyreal.ViewModels.Display;

@model IEnumerable<ProductBasicViewModel>


@foreach (var product in Model)
{
    <div class="col-md-2 col-sm-6">
        <a class="banner banner-1" asp-controller="Home" asp-action="Products" asp-route-id="@product.Id" title="">
            <img src="@product.Images[0].Url" alt="">
            <div class="banner-popular">
                <h5 class="white-color">@product.Name</h5>
                <p class="white-color">@product.PriceProductText </p>

            </div>
        </a>
    </div>
}

