@model Empyreal.ViewModels.Manager.UserManagerViewModel
@{
    ViewData["Title"] = "Chỉnh sửa người dùng";
}



<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li class="active">Chỉnh sửa người dùng</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->
<div class="section-grey">
    <div class="container">
        <div class="row account">
            @await Html.PartialAsync("Manager\\_MenuLeftAdminPartial")
            <div class="col-lg-8 col-xs-12 content-right" id="content-right">
                @if (Model.IsSuccess)
                {
                    <div class="alert alert-success">Chỉnh sửa người dùng thành công</div>
                }
                <h4>Chỉnh sửa người dùng</h4>
                <div class="account-profile">
                    <form class="profile-form" method="post" asp-controller="User" asp-action="UpdateUser" asp-route-returnurl="@ViewData["ReturnUrl"]">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label class="control-label" asp-for="HoTen">Họ tên</label>
                            <div class="input-wrap">
                                <input class="form-control" asp-for="HoTen" placeholder="Nhập họ tên" />
                                <span asp-validation-for="HoTen" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" asp-for="PhoneNumber">Số điện thoại</label>
                            <div class="input-wrap">
                                <input class="form-control" asp-for="PhoneNumber" placeholder="Nhập số điện thoai" readonly />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" asp-for="Email">Email</label>
                            <div class="input-wrap">
                                <input type="email" class="form-control" asp-for="Email" placeholder="Nhập email" readonly />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Phân quyền</label>
                            <div class="input-wrap">
                                <div class="user-role">
                                    <select class="form-control" asp-for="UserRole" asp-items="Model.UserRoles"></select>
                                    <span asp-validation-for="UserRole" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Giới tính</label>
                            <div class="input-wrap">
                                <div class="row">
                                    @foreach (var item in Model.SexList)
                                    {
                                        <label class="col-xs-3 radio-wrap">
                                            @item.Text
                                            <input type="radio" asp-for="Sex" value="@item.Value" />
                                            <span class="checkmark"></span>
                                        </label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Ngày sinh</label>
                            <div class="input-wrap">
                                <div class="birthday-picker">
                                    <select class="form-control" asp-for="DateOfBirth" asp-items="Model.Dates"></select>
                                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                    <select class="form-control" asp-for="MonthOfBirth" asp-items="Model.Months"></select>
                                    <span asp-validation-for="MonthOfBirth" class="text-danger"></span>
                                    <select class="form-control" asp-for="YearOfBirth" asp-items="Model.Years"></select>
                                    <span asp-validation-for="YearOfBirth" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="primary-btn" type="submit">Cập nhật</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

