
<div class="col-lg-3 col-xs-12 menu-left">
    <div class="profiles">
        @*<p class="image">
                <img src="~/images/bo.jpg" width="45" height="45" alt="image" />
            </p>*@
        <p class="tk">Tài khoản của</p>
        <h4 class="name">Phạm Lương Mỹ</h4>
    </div>
    <div class="menu">
        <ul class="sidebar-left" role="menu">
            <li class="sidebar-list" data-toggle="collapse" data-target="#productManager">
                <a asp-controller="Product" asp-action="ProductManager">
                    <i class="fab fa-product-hunt"></i>
                    <span class="sidebar-item">Quản lý sản phẩm</span>
                </a>
                @*<a href="#productSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fab fa-product-hunt"></i>
                        <span class="sidebar-item">Quản lý sản phẩm</span>
                    </a>*@

            </li>
            @*<div class="collapse submenu" id="productSubmenu">
                    <ul>
                        <li>
                            <a href="#">Thêm sản phẩm</a>
                        </li>
                        <li>
                            <a href="#">Chỉnh sửa sản phẩm</a>
                        </li>
                        <li>
                            <a href="#">Xóa sản phẩm</a>
                        </li>
                    </ul>
                </div>*@
            <li class="sidebar-list">
                <a asp-controller="User" asp-action="UserManager">
                    <i class="far fa-user fa-fw"></i>
                    <span class="sidebar-item">Quản lý người dùng</span>
                </a>
            </li>
            <li class="sidebar-list">
                <a asp-controller="Catalog" asp-action="Index">
                    <i class="fas fa-coins"></i>
                    <span class="sidebar-item">Quản lý danh mục</span>
                </a>
            </li>
            <li class="sidebar-list">
                <a href="#">
                    <i class="fas fa-chart-pie"></i>
                    <span class="sidebar-item">Thống kê</span>
                </a>
            </li>
            @*<li class="sidebar-list">
                    <a href="#">
                        <i class="far fa-list-alt fa-fw"></i>
                        <span class="sidebar-item">Đơn hàng của tôi</span>
                    </a>
                </li>
                <li class="sidebar-list">
                    <a href="#">
                        <i class="far fa-eye fa-fw"></i>
                        <span class="sidebar-item">Sản phẩm bạn đã xem</span>
                    </a>
                </li>
                <li class="sidebar-list">
                    <a asp-controller="User" asp-action="Wishlist">
                        <i class="far fa-heart fa-fw"></i>
                        <span class="sidebar-item">Sản phẩm yêu thích</span>
                    </a>
                </li>
                <li class="sidebar-list">
                    <a href="#">
                        <i class="fas fa-shopping-cart fa-fw"></i>
                        <span class="sidebar-item">Sản phẩm mua sau</span>
                    </a>
                </li>
                <li class="sidebar-list">
                    <a href="#">
                        <i class="fas fa-star-half-alt fa-fw"></i>
                        <span class="sidebar-item">Nhận xét của tôi</span>
                    </a>
                </li>
                <li class="sidebar-list">
                    <a href="#">
                        <i class="fas fa-comment-dollar fa-fw"></i>
                        <span class="sidebar-item">Bán hàng cùng Empyreal</span>
                    </a>
                </li>*@
        </ul>
    </div>
</div>

