@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
    {
        <a href="#" id="user-name" class="text-uppercase">@UserManager.GetUserAsync(User).Result.HoTen</a>
        <ul class="custom-menu" id="list-user">
            <li><a asp-controller="Product" asp-action="ProductManager"><i class="fab fa-product-hunt"></i> Quản lý sản phẩm</a></li>
            <li><a asp-controller="User" asp-action="UserManager"><i class="far fa-user fa-fw"></i> Quản lý người dùng</a></li>
            <li><a asp-controller="Admin" asp-action="Statistical"><i class="fas fa-coins"></i> Thống kê</a></li>
            <li>
                <form asp-controller="Login" asp-action="SignOut" method="post">
                    <button class="btn btn-link"><i class="fas fa-sign-out-alt fa-fw"></i> Đăng xuất</button>
                </form>
            </li>
        </ul>
    }
    else
    {
        <a href="#" id="user-name" class="text-uppercase">@UserManager.GetUserAsync(User).Result.HoTen</a>
        <ul class="custom-menu" id="list-user">
            <li><a asp-controller="User" asp-action="Profile"><i class="far fa-user fa-fw"></i> Tài khoản của tôi</a></li>
            <li><a asp-controller="User" asp-action="Notification"><i class="far fa-bell fa-fw"></i> Thông báo của tôi</a></li>
            <li><a asp-controller="User" asp-action="Wishlist"><i class="far fa-heart fa-fw"></i> Danh sách yêu thích</a></li>
            <li>
                <form asp-controller="User" asp-action="Logout" method="post">
                    <button class="btn btn-link"><i class="fas fa-sign-out-alt fa-fw"></i> Đăng xuất</button>
                </form>
            </li>
        </ul>
    }
}
else
{
    <a asp-controller="Login" asp-action="SignIn" class="text-uppercase">Đăng nhập</a><span> / </span>
    <a asp-controller="Login" asp-action="Register" class="text-uppercase">Đăng ký</a>
}