@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@*@model Empyreal.ViewModels.HomeViewModel*@
@{
    ViewData["Title"] = "Trang chủ";
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Empyreal - Giá tốt cho mọi nhà</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/css/manage/jquery/jquery-ui.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/css/nouislider.min.css" />

    <link type="text/css" rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- Font Awesome Icon -->
    <link type="text/css" rel="stylesheet" href="~/css/all.min.css">

    <!-- Custom stylesheet -->
    <link type="text/css" rel="stylesheet" href="~/css/style.css" />

    <!-- CSS
    ================================================== -->
    @*<link rel="stylesheet" href="~/mycss/base.css">
        <link rel="stylesheet" href="~/mycss/main.css">*@

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body>
    <!-- HEADER -->
    <header>

        <!-- top Header -->
        <div id="top-header">
            <div class="container">
                <div class="pull-right">
                    <ul class="header-top-links">
                        <li><a href="#" style="color: #37cfdd;">BÁN HÀNG CÙNG EMPYREAL</a></li>
                        <li><a href="#">CHĂM SÓC KHÁCH HÀNG</a></li>
                        <li><a href="#">KIỂM TRA ĐƠN HÀNG</a></li>
                        <li class="dropdown default-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">VN <i class="fa fa-caret-down"></i></a>
                            <ul class="custom-menu">
                                <li><a href="#">Tiếng Việt (VN)</a></li>
                                <li><a href="#">English (ENG)</a></li>
                            </ul>
                        </li>
                        @*<li class="dropdown default-dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">USD <i class="fa fa-caret-down"></i></a>
                                <ul class="custom-menu">
                                    <li><a href="#">USD ($)</a></li>
                                    <li><a href="#">EUR (€)</a></li>
                                </ul>
                            </li>*@
                    </ul>
                </div>
            </div>
        </div>
        <!-- /top Header -->
        <!-- header -->
        <div id="header">
            <div class="container">
                <div class="pull-left">
                    <!-- Logo -->
                    <div class="header-logo">
                        @*<a class="logo" href="#">
                <img src="~/images/logo.png" alt="">
            </a>*@
                        <a asp-controller="Home" asp-action="Index"><h2>Empyreal!</h2></a>
                    </div>
                    <!-- /Logo -->
                    <!-- Search -->
                    <div class="header-search">
                        <form method="get" asp-controller="Search" asp-action="Index">
                            <input class="input search-input form-control" type="text" id="KeySearch" name="KeySearch" placeholder="Tìm sản phẩm">
                            <button type="submit" title="Tìm kiếm" class="search-btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <img style="width:50px; height:50px;" id="SearchPreview" />

                    <!-- /Search -->
                </div>
                <div class="pull-right">
                    <ul class="header-btns">
                        <li class="header-account dropdown default-dropdown" style="width: 210px;">
                            <div class="login-signin">
                                @*<div class="header-btns-icon">
                                        <img id="avatar_user" style="width:40px;border-radius:50%;" alt="avatar" src="~/images/bo.jpg" />
                                    </div>*@
                                <strong class="text-uppercase" id="taikh">Tài khoản</strong>
                            </div>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                                {
                                    <a href="#" id="user-name" class="text-uppercase">@UserManager.GetUserAsync(User).Result.HoTen</a>
                                    <ul class="custom-menu" id="list-user">
                                        <li><a asp-controller="Product" asp-action="ProductManager"><i class="fab fa-product-hunt"></i> Quản lý sản phẩm</a></li>
                                        <li><a asp-controller="User" asp-action="UserManager"><i class="far fa-user fa-fw"></i> Quản lý người dùng</a></li>
                                        <li><a asp-controller="Admin" asp-action="Statistical"><i class="fas fa-coins"></i> Thống kê</a></li>
                                        <li>
                                            <form asp-controller="Login" asp-action="SignOut" method="post">
                                                <button class="btn btn-link"><i class="fas fa-sign-out-alt fa-fw"></i> Đăng xuất</button>
                                            </form>
                                        </li>
                                    </ul>
                                }
                                else
                                {
                                    <a href="#" id="user-name" class="text-uppercase">@UserManager.GetUserAsync(User).Result.HoTen</a>
                                    <ul class="custom-menu" id="list-user">
                                        <li><a asp-controller="User" asp-action="Profile"><i class="far fa-user fa-fw"></i> Tài khoản của tôi</a></li>
                                        <li><a asp-controller="User" asp-action="Notification"><i class="far fa-bell fa-fw"></i> Thông báo của tôi</a></li>
                                        <li><a asp-controller="User" asp-action="Wishlist"><i class="far fa-heart fa-fw"></i> Danh sách yêu thích</a></li>
                                        <li>
                                            <form asp-controller="User" asp-action="Logout" method="post">
                                                <button class="btn btn-link"><i class="fas fa-sign-out-alt fa-fw"></i> Đăng xuất</button>
                                            </form>
                                        </li>
                                    </ul>
                                }
                            }
                            else
                            {
                                <a asp-controller="Login" asp-action="SignIn" class="text-uppercase">Đăng nhập</a><span> / </span>
                                <a asp-controller="Login" asp-action="Register" class="text-uppercase">Đăng ký</a>
                                @*<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>*@
                            }

                            <!-- /Account -->
                            <!-- Cart -->
                        <li class="header-cart" style="width:145px;">
                            <a asp-controller="Home" asp-action="Cart">
                                <div class="header-btns-icon">
                                    <i class="fas fa-shopping-cart" style="margin-top: 5px; font-size:27px;"></i>
                                    @*<span class="qty">3</span>*@
                                </div>
                                <strong class="text-uppercase">Giỏ hàng</strong>
                                @*<br />
                                    <span>7.900.000 <u>đ</u></span>*@
                            </a>
                            <div class="custom-menu">
                                <div id="shopping-cart">
                                    <div class="shopping-cart-list">
                                        <div class="product product-widget">
                                            <div class="product-thumb">
                                                <img src="~/images/product01.jpg" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-price">$32.50 <span class="qty">x3</span></h3>
                                                <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                                            </div>
                                            <button class="cancel-btn"><i class="fa fa-trash"></i></button>
                                        </div>
                                        <div class="product product-widget">
                                            <div class="product-thumb">
                                                @*<img src="./img/thumb-product01.jpg" alt="">*@
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-price">$32.50 <span class="qty">x3</span></h3>
                                                <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                                            </div>
                                            <button class="cancel-btn"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                    <div class="shopping-cart-btns">
                                        <button class="main-btn">View Cart</button>
                                        <button class="primary-btn">Checkout <i class="fa fa-arrow-circle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- /Cart -->
                        <!-- Mobile nav toggle-->
                        <li class="nav-toggle">
                            <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                        </li>
                        <!-- / Mobile nav toggle -->
                    </ul>
                </div>
            </div>
            <!-- header -->
        </div>
        <!-- container -->
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <div id="navigation">
        <!-- container -->
        <div class="container">
            <div id="responsive-nav">
                <!-- category nav -->
                <div class="category-nav">
                    <span class="category-header">DANH MỤC <i class="fa fa-list"></i></span>
                    <ul class="category-list">
                        <li class="dropdown side-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="padding: 15px 15px 15px 12px;">
                                <i class="fas fa-mobile-alt fa-fw category-icon" style="font-size: 19px;"></i>
                                <span>&nbsp;&nbsp; Điện Thoại - Máy Tính Bảng</span>
                            </a>
                            <div class="custom-menu">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Xu hướng nổi bật</h3>
                                            </li>
                                            <li><a href="#">Smartphone dưới 5 triệu</a></li>
                                            <li><a href="#">Samsung Galaxy S10</a></li>
                                            <li><a href="#">IPhone XS</a></li>
                                            <li><a href="#">Oppo F7</a></li>
                                            <li><a href="#">Nokia 8</a></li>
                                        </ul>
                                        <hr>
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Smartphone Chính Hãng</h3>
                                            </li>
                                            <li><a href="#">Samsung</a></li>
                                            <li><a href="#">Apple</a></li>
                                            <li><a href="#">Oppo</a></li>
                                            <li><a href="#">Nokia</a></li>
                                            <li><a href="#">Asus</a></li>
                                        </ul>
                                        <hr class="hidden-md hidden-lg">
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Lựa chọn mức giá</h3>
                                            </li>
                                            <li><a href="#">Dưới 3 Triệu</a></li>
                                            <li><a href="#">3 Triệu - 5 Triệu</a></li>
                                            <li><a href="#">5 Triệu - 8 Triệu</a></li>
                                            <li><a href="#">8 Triệu - 12 Triệu</a></li>
                                            <li><a href="#">Trên 12 Triệu</a></li>
                                        </ul>
                                        <hr>
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Xu hướng nổi bật</h3>
                                            </li>
                                            <li><a href="#">Smartphone dưới 5 triệu</a></li>
                                            <li><a href="#">Samsung Galaxy S10</a></li>
                                            <li><a href="#">IPhone XS</a></li>
                                            <li><a href="#">Oppo F7</a></li>
                                            <li><a href="#">Nokia 8</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 hidden-sm hidden-xs">
                                        <a class="banner banner-category" href="#">
                                            <img src="~/images/banner06.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown side-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fas fa-tv fa-fw category-icon"></i>
                                <span>&nbsp;&nbsp; TV - Thiết Bị Nghe Nhìn</span>
                            </a>
                            <div class="custom-menu">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Xu hướng nổi bật</h3>
                                            </li>
                                            <li><a href="#">Smartphone dưới 5 triệu</a></li>
                                            <li><a href="#">Samsung Galaxy S10</a></li>
                                            <li><a href="#">IPhone XS</a></li>
                                            <li><a href="#">Oppo F7</a></li>
                                            <li><a href="#">Nokia 8</a></li>
                                        </ul>
                                        <hr>
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Smartphone Chính Hãng</h3>
                                            </li>
                                            <li><a href="#">Samsung</a></li>
                                            <li><a href="#">Apple</a></li>
                                            <li><a href="#">Oppo</a></li>
                                            <li><a href="#">Nokia</a></li>
                                            <li><a href="#">Asus</a></li>
                                        </ul>
                                        <hr class="hidden-md hidden-lg">
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Lựa chọn mức giá</h3>
                                            </li>
                                            <li><a href="#">Dưới 3 Triệu</a></li>
                                            <li><a href="#">3 Triệu - 5 Triệu</a></li>
                                            <li><a href="#">5 Triệu - 8 Triệu</a></li>
                                            <li><a href="#">8 Triệu - 12 Triệu</a></li>
                                            <li><a href="#">Trên 12 Triệu</a></li>
                                        </ul>
                                        <hr>
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Xu hướng nổi bật</h3>
                                            </li>
                                            <li><a href="#">Smartphone dưới 5 triệu</a></li>
                                            <li><a href="#">Samsung Galaxy S10</a></li>
                                            <li><a href="#">IPhone XS</a></li>
                                            <li><a href="#">Oppo F7</a></li>
                                            <li><a href="#">Nokia 8</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 hidden-sm hidden-xs">
                                        <a class="banner banner-category" href="#">
                                            <img src="~/images/banner06.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown side-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fas fa-headphones-alt fa-fw category-icon"></i>
                                <span>&nbsp;&nbsp; Phụ Kiện - Thiết bị số</span>
                            </a>
                            <div class="custom-menu">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Xu hướng nổi bật</h3>
                                            </li>
                                            <li><a href="#">Smartphone dưới 5 triệu</a></li>
                                            <li><a href="#">Samsung Galaxy S10</a></li>
                                            <li><a href="#">IPhone XS</a></li>
                                            <li><a href="#">Oppo F7</a></li>
                                            <li><a href="#">Nokia 8</a></li>
                                        </ul>
                                        <hr>
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Smartphone Chính Hãng</h3>
                                            </li>
                                            <li><a href="#">Samsung</a></li>
                                            <li><a href="#">Apple</a></li>
                                            <li><a href="#">Oppo</a></li>
                                            <li><a href="#">Nokia</a></li>
                                            <li><a href="#">Asus</a></li>
                                        </ul>
                                        <hr class="hidden-md hidden-lg">
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Lựa chọn mức giá</h3>
                                            </li>
                                            <li><a href="#">Dưới 3 Triệu</a></li>
                                            <li><a href="#">3 Triệu - 5 Triệu</a></li>
                                            <li><a href="#">5 Triệu - 8 Triệu</a></li>
                                            <li><a href="#">8 Triệu - 12 Triệu</a></li>
                                            <li><a href="#">Trên 12 Triệu</a></li>
                                        </ul>
                                        <hr>
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Xu hướng nổi bật</h3>
                                            </li>
                                            <li><a href="#">Smartphone dưới 5 triệu</a></li>
                                            <li><a href="#">Samsung Galaxy S10</a></li>
                                            <li><a href="#">IPhone XS</a></li>
                                            <li><a href="#">Oppo F7</a></li>
                                            <li><a href="#">Nokia 8</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 hidden-sm hidden-xs">
                                        <a class="banner banner-category" href="#">
                                            <img src="~/images/banner06.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown side-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fa fa-laptop fa-fw category-icon"></i>
                                <span>&nbsp;&nbsp; Laptop - Thiết Bị IT</span>
                            </a>
                            <div class="custom-menu">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Xu hướng nổi bật</h3>
                                            </li>
                                            <li><a href="#">Smartphone dưới 5 triệu</a></li>
                                            <li><a href="#">Samsung Galaxy S10</a></li>
                                            <li><a href="#">IPhone XS</a></li>
                                            <li><a href="#">Oppo F7</a></li>
                                            <li><a href="#">Nokia 8</a></li>
                                        </ul>
                                        <hr>
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Smartphone Chính Hãng</h3>
                                            </li>
                                            <li><a href="#">Samsung</a></li>
                                            <li><a href="#">Apple</a></li>
                                            <li><a href="#">Oppo</a></li>
                                            <li><a href="#">Nokia</a></li>
                                            <li><a href="#">Asus</a></li>
                                        </ul>
                                        <hr class="hidden-md hidden-lg">
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Lựa chọn mức giá</h3>
                                            </li>
                                            <li><a href="#">Dưới 3 Triệu</a></li>
                                            <li><a href="#">3 Triệu - 5 Triệu</a></li>
                                            <li><a href="#">5 Triệu - 8 Triệu</a></li>
                                            <li><a href="#">8 Triệu - 12 Triệu</a></li>
                                            <li><a href="#">Trên 12 Triệu</a></li>
                                        </ul>
                                        <hr>
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Xu hướng nổi bật</h3>
                                            </li>
                                            <li><a href="#">Smartphone dưới 5 triệu</a></li>
                                            <li><a href="#">Samsung Galaxy S10</a></li>
                                            <li><a href="#">IPhone XS</a></li>
                                            <li><a href="#">Oppo F7</a></li>
                                            <li><a href="#">Nokia 8</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 hidden-sm hidden-xs">
                                        <a class="banner banner-category" href="#">
                                            <img src="~/images/banner06.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown side-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="far fa-hdd fa-fw category-icon"></i>
                                <span>&nbsp;&nbsp; Điện Gia Dụng - Điện Lạnh</span>
                            </a>
                            <div class="custom-menu">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Xu hướng nổi bật</h3>
                                            </li>
                                            <li><a href="#">Smartphone dưới 5 triệu</a></li>
                                            <li><a href="#">Samsung Galaxy S10</a></li>
                                            <li><a href="#">IPhone XS</a></li>
                                            <li><a href="#">Oppo F7</a></li>
                                            <li><a href="#">Nokia 8</a></li>
                                        </ul>
                                        <hr>
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Smartphone Chính Hãng</h3>
                                            </li>
                                            <li><a href="#">Samsung</a></li>
                                            <li><a href="#">Apple</a></li>
                                            <li><a href="#">Oppo</a></li>
                                            <li><a href="#">Nokia</a></li>
                                            <li><a href="#">Asus</a></li>
                                        </ul>
                                        <hr class="hidden-md hidden-lg">
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Lựa chọn mức giá</h3>
                                            </li>
                                            <li><a href="#">Dưới 3 Triệu</a></li>
                                            <li><a href="#">3 Triệu - 5 Triệu</a></li>
                                            <li><a href="#">5 Triệu - 8 Triệu</a></li>
                                            <li><a href="#">8 Triệu - 12 Triệu</a></li>
                                            <li><a href="#">Trên 12 Triệu</a></li>
                                        </ul>
                                        <hr>
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Xu hướng nổi bật</h3>
                                            </li>
                                            <li><a href="#">Smartphone dưới 5 triệu</a></li>
                                            <li><a href="#">Samsung Galaxy S10</a></li>
                                            <li><a href="#">IPhone XS</a></li>
                                            <li><a href="#">Oppo F7</a></li>
                                            <li><a href="#">Nokia 8</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 hidden-sm hidden-xs">
                                        <a class="banner banner-category" href="#">
                                            <img src="~/images/banner06.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown side-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fas fa-tshirt fa-fw category-icon"></i>
                                <span>&nbsp;&nbsp; Thời Trang - Phụ Kiện</span>
                            </a>
                            <div class="custom-menu">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Xu hướng nổi bật</h3>
                                            </li>
                                            <li><a href="#">Smartphone dưới 5 triệu</a></li>
                                            <li><a href="#">Samsung Galaxy S10</a></li>
                                            <li><a href="#">IPhone XS</a></li>
                                            <li><a href="#">Oppo F7</a></li>
                                            <li><a href="#">Nokia 8</a></li>
                                        </ul>
                                        <hr>
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Smartphone Chính Hãng</h3>
                                            </li>
                                            <li><a href="#">Samsung</a></li>
                                            <li><a href="#">Apple</a></li>
                                            <li><a href="#">Oppo</a></li>
                                            <li><a href="#">Nokia</a></li>
                                            <li><a href="#">Asus</a></li>
                                        </ul>
                                        <hr class="hidden-md hidden-lg">
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Lựa chọn mức giá</h3>
                                            </li>
                                            <li><a href="#">Dưới 3 Triệu</a></li>
                                            <li><a href="#">3 Triệu - 5 Triệu</a></li>
                                            <li><a href="#">5 Triệu - 8 Triệu</a></li>
                                            <li><a href="#">8 Triệu - 12 Triệu</a></li>
                                            <li><a href="#">Trên 12 Triệu</a></li>
                                        </ul>
                                        <hr>
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Xu hướng nổi bật</h3>
                                            </li>
                                            <li><a href="#">Smartphone dưới 5 triệu</a></li>
                                            <li><a href="#">Samsung Galaxy S10</a></li>
                                            <li><a href="#">IPhone XS</a></li>
                                            <li><a href="#">Oppo F7</a></li>
                                            <li><a href="#">Nokia 8</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 hidden-sm hidden-xs">
                                        <a class="banner banner-category" href="#">
                                            <img src="~/images/banner06.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown side-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fas fa-couch fa-fw category-icon"></i>
                                <span>&nbsp;&nbsp; Nhà Cửa Đời Sống</span>
                            </a>
                            <div class="custom-menu">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Xu hướng nổi bật</h3>
                                            </li>
                                            <li><a href="#">Smartphone dưới 5 triệu</a></li>
                                            <li><a href="#">Samsung Galaxy S10</a></li>
                                            <li><a href="#">IPhone XS</a></li>
                                            <li><a href="#">Oppo F7</a></li>
                                            <li><a href="#">Nokia 8</a></li>
                                        </ul>
                                        <hr>
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Smartphone Chính Hãng</h3>
                                            </li>
                                            <li><a href="#">Samsung</a></li>
                                            <li><a href="#">Apple</a></li>
                                            <li><a href="#">Oppo</a></li>
                                            <li><a href="#">Nokia</a></li>
                                            <li><a href="#">Asus</a></li>
                                        </ul>
                                        <hr class="hidden-md hidden-lg">
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Lựa chọn mức giá</h3>
                                            </li>
                                            <li><a href="#">Dưới 3 Triệu</a></li>
                                            <li><a href="#">3 Triệu - 5 Triệu</a></li>
                                            <li><a href="#">5 Triệu - 8 Triệu</a></li>
                                            <li><a href="#">8 Triệu - 12 Triệu</a></li>
                                            <li><a href="#">Trên 12 Triệu</a></li>
                                        </ul>
                                        <hr>
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Xu hướng nổi bật</h3>
                                            </li>
                                            <li><a href="#">Smartphone dưới 5 triệu</a></li>
                                            <li><a href="#">Samsung Galaxy S10</a></li>
                                            <li><a href="#">IPhone XS</a></li>
                                            <li><a href="#">Oppo F7</a></li>
                                            <li><a href="#">Nokia 8</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 hidden-sm hidden-xs">
                                        <a class="banner banner-category" href="#">
                                            <img src="~/images/banner06.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown side-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="fas fa-magic fa-fw category-icon"></i>
                                <span>&nbsp;&nbsp; Làm Đẹp - Sức Khỏe</span>
                            </a>
                            <div class="custom-menu">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Xu hướng nổi bật</h3>
                                            </li>
                                            <li><a href="#">Smartphone dưới 5 triệu</a></li>
                                            <li><a href="#">Samsung Galaxy S10</a></li>
                                            <li><a href="#">IPhone XS</a></li>
                                            <li><a href="#">Oppo F7</a></li>
                                            <li><a href="#">Nokia 8</a></li>
                                        </ul>
                                        <hr>
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Smartphone Chính Hãng</h3>
                                            </li>
                                            <li><a href="#">Samsung</a></li>
                                            <li><a href="#">Apple</a></li>
                                            <li><a href="#">Oppo</a></li>
                                            <li><a href="#">Nokia</a></li>
                                            <li><a href="#">Asus</a></li>
                                        </ul>
                                        <hr class="hidden-md hidden-lg">
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Lựa chọn mức giá</h3>
                                            </li>
                                            <li><a href="#">Dưới 3 Triệu</a></li>
                                            <li><a href="#">3 Triệu - 5 Triệu</a></li>
                                            <li><a href="#">5 Triệu - 8 Triệu</a></li>
                                            <li><a href="#">8 Triệu - 12 Triệu</a></li>
                                            <li><a href="#">Trên 12 Triệu</a></li>
                                        </ul>
                                        <hr>
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Xu hướng nổi bật</h3>
                                            </li>
                                            <li><a href="#">Smartphone dưới 5 triệu</a></li>
                                            <li><a href="#">Samsung Galaxy S10</a></li>
                                            <li><a href="#">IPhone XS</a></li>
                                            <li><a href="#">Oppo F7</a></li>
                                            <li><a href="#">Nokia 8</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 hidden-sm hidden-xs">
                                        <a class="banner banner-category" href="#">
                                            <img src="~/images/banner06.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /category nav -->
                @*<!-- menu nav -->
                    <div class="menu-nav">
                        <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                        <ul class="menu-list">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Shop</a></li>
                            <li class="dropdown mega-dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Women <i class="fa fa-caret-down"></i></a>
                                <div class="custom-menu">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul class="list-links">
                                                <li>
                                                    <h3 class="list-links-title">Categories</h3>
                                                </li>
                                                <li><a href="#">Women’s Clothing</a></li>
                                                <li><a href="#">Men’s Clothing</a></li>
                                                <li><a href="#">Phones & Accessories</a></li>
                                                <li><a href="#">Jewelry & Watches</a></li>
                                                <li><a href="#">Bags & Shoes</a></li>
                                            </ul>
                                            <hr class="hidden-md hidden-lg">
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="list-links">
                                                <li>
                                                    <h3 class="list-links-title">Categories</h3>
                                                </li>
                                                <li><a href="#">Women’s Clothing</a></li>
                                                <li><a href="#">Men’s Clothing</a></li>
                                                <li><a href="#">Phones & Accessories</a></li>
                                                <li><a href="#">Jewelry & Watches</a></li>
                                                <li><a href="#">Bags & Shoes</a></li>
                                            </ul>
                                            <hr class="hidden-md hidden-lg">
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="list-links">
                                                <li>
                                                    <h3 class="list-links-title">Categories</h3>
                                                </li>
                                                <li><a href="#">Women’s Clothing</a></li>
                                                <li><a href="#">Men’s Clothing</a></li>
                                                <li><a href="#">Phones & Accessories</a></li>
                                                <li><a href="#">Jewelry & Watches</a></li>
                                                <li><a href="#">Bags & Shoes</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row hidden-sm hidden-xs">
                                        <div class="col-md-12">
                                            <hr>
                                            <a class="banner banner-1" href="#">
                                                <img src="~/images/banner05.jpg" alt="">
                                                <div class="banner-caption text-center">
                                                    <h2 class="white-color">NEW COLLECTION</h2>
                                                    <h3 class="white-color font-weak">HOT DEAL</h3>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown mega-dropdown full-width">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Men <i class="fa fa-caret-down"></i></a>
                                <div class="custom-menu">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="hidden-sm hidden-xs">
                                                <a class="banner banner-1" href="#">
                                                    <img src="~/images/banner06.jpg" alt="">
                                                    <div class="banner-caption text-center">
                                                        <h3 class="white-color text-uppercase">Women’s</h3>
                                                    </div>
                                                </a>
                                                <hr>
                                            </div>
                                            <ul class="list-links">
                                                <li>
                                                    <h3 class="list-links-title">Categories</h3>
                                                </li>
                                                <li><a href="#">Women’s Clothing</a></li>
                                                <li><a href="#">Men’s Clothing</a></li>
                                                <li><a href="#">Phones & Accessories</a></li>
                                                <li><a href="#">Jewelry & Watches</a></li>
                                                <li><a href="#">Bags & Shoes</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="hidden-sm hidden-xs">
                                                <a class="banner banner-1" href="#">
                                                    <img src="~/images/banner07.jpg" alt="">
                                                    <div class="banner-caption text-center">
                                                        <h3 class="white-color text-uppercase">Men’s</h3>
                                                    </div>
                                                </a>
                                            </div>
                                            <hr>
                                            <ul class="list-links">
                                                <li>
                                                    <h3 class="list-links-title">Categories</h3>
                                                </li>
                                                <li><a href="#">Women’s Clothing</a></li>
                                                <li><a href="#">Men’s Clothing</a></li>
                                                <li><a href="#">Phones & Accessories</a></li>
                                                <li><a href="#">Jewelry & Watches</a></li>
                                                <li><a href="#">Bags & Shoes</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="hidden-sm hidden-xs">
                                                <a class="banner banner-1" href="#">
                                                    <img src="~/images/banner08.jpg" alt="">
                                                    <div class="banner-caption text-center">
                                                        <h3 class="white-color text-uppercase">Accessories</h3>
                                                    </div>
                                                </a>
                                            </div>
                                            <hr>
                                            <ul class="list-links">
                                                <li>
                                                    <h3 class="list-links-title">Categories</h3>
                                                </li>
                                                <li><a href="#">Women’s Clothing</a></li>
                                                <li><a href="#">Men’s Clothing</a></li>
                                                <li><a href="#">Phones & Accessories</a></li>
                                                <li><a href="#">Jewelry & Watches</a></li>
                                                <li><a href="#">Bags & Shoes</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="hidden-sm hidden-xs">
                                                <a class="banner banner-1" href="#">
                                                    <img src="~/images/banner09.jpg" alt="">
                                                    <div class="banner-caption text-center">
                                                        <h3 class="white-color text-uppercase">Bags</h3>
                                                    </div>
                                                </a>
                                            </div>
                                            <hr>
                                            <ul class="list-links">
                                                <li>
                                                    <h3 class="list-links-title">Categories</h3>
                                                </li>
                                                <li><a href="#">Women’s Clothing</a></li>
                                                <li><a href="#">Men’s Clothing</a></li>
                                                <li><a href="#">Phones & Accessories</a></li>
                                                <li><a href="#">Jewelry & Watches</a></li>
                                                <li><a href="#">Bags & Shoes</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="#">Sales</a></li>
                            <li class="dropdown default-dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Pages <i class="fa fa-caret-down"></i></a>
                                <ul class="custom-menu">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="product-page.html">Product Details</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- menu nav -->*@
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /NAVIGATION -->
    <!-- HOME -->
    <div id="home">
        <!-- container -->
        <div class="container">
            <!-- home wrap -->
            <div class="home-wrap">
                <!-- home slick -->
                <div id="home-slick">
                    <!-- banner -->
                    <div class="banner banner-1">
                        <img src="~/images/carousel.jpg" alt="" style="height: 450px;">
                    </div>
                    <!-- /banner -->
                    <!-- banner -->
                    <div class="banner banner-1">
                        <img src="~/images/carousel02.jpg" alt="" style="height: 450px;">
                    </div>
                    <!-- /banner -->
                    <!-- banner -->
                    <div class="banner banner-1">
                        <img src="~/images/carousel03.jpg" alt="" style="height: 450px;">
                    </div>
                    <!-- /banner -->
                </div>
                <!-- /home slick -->
            </div>
            <!-- /home wrap -->
        </div>
        <!-- /container -->
    </div>
    <!-- /HOME -->
    <!-- section -->
    <div class="section" style="padding-bottom: 0;">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- section-title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Tìm kiếm phổ biến</h3>

                        <div class="pull-right">
                            <div class="product-slick-dots-1 custom-dots">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /section-title -->
                <div class="col-md-12">
                    <div class="row">
                        <div id="product-slick-1" class="product-slick">

                        </div>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row" id="product-new">

            </div>
            <!-- /Product Slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /section -->
    <!-- section -->
    <div class="section section-grey" id="catalog-section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- banner -->
                <div class="col-md-3 col-sm-6 col-grey">
                    <a class="banner banner-1" href="#" title="">
                        <div class="imgContainer">
                            <img src="~/images/banner11.jpg" alt="">
                        </div>
                        <div class="banner-bottom">
                            <h4>Đồ nam bán chạy</h4>
                            <p>1,000 sản phẩm</p>
                        </div>
                    </a>
                </div>
                <!-- /banner -->
                <!-- banner -->
                <div class="col-md-3 col-sm-6 col-grey">
                    <a class="banner banner-1" href="#" title="">
                        <div class="imgContainer">
                            <img src="~/images/banner01.jpg" alt="">
                        </div>
                        <div class="banner-bottom">
                            <h4>Áo khoác đồng giá 200k</h4>
                            <p>1,000 sản phẩm</p>
                        </div>
                    </a>
                </div>
                <!-- /banner -->
                <!-- banner -->
                <div class="col-md-3 col-sm-6 col-grey">
                    <a class="banner banner-1" href="#" title="">
                        <div class="imgContainer">
                            <img src="~/images/banner02.jpg" alt="">
                        </div>
                        <div class="banner-bottom">
                            <h4>Giày dép xả hàng tồn kho quahoq fuqyah oqowwi utyutu</h4>
                            <p>1,000 sản phẩm</p>
                        </div>
                    </a>
                </div>
                <!-- /banner -->
                <!-- banner -->
                <div class="col-md-3 col-sm-6 col-grey">
                    <a class="banner banner-1" href="#" title="">
                        <div class="imgContainer">
                            <img src="~/images/banner03.jpg" alt="">
                        </div>
                        <div class="banner-bottom">
                            <h4>Hàng hot mới về</h4>
                            <p>2,000 sản phẩm</p>
                        </div>
                    </a>
                </div>
                <!-- /banner -->
                <!-- banner -->
                <div class="col-md-3 col-sm-6 col-grey">
                    <a class="banner banner-1" href="#" title="">
                        <div class="imgContainer">
                            <img src="~/images/banner05.jpg" alt="">
                        </div>
                        <div class="banner-bottom">
                            <h4>Merry Christmas</h4>
                            <p>1,000 sản phẩm</p>
                        </div>
                    </a>
                </div>
                <!-- /banner -->
                <!-- banner -->
                <div class="col-md-3 col-sm-6 col-grey">
                    <a class="banner banner-1" href="#" title="">
                        <div class="imgContainer">
                            <img src="~/images/banner04.jpg" alt="">
                        </div>
                        <div class="banner-bottom">
                            <h4>Thế giới điện tử</h4>
                            <p>1,000 sản phẩm</p>
                        </div>
                    </a>
                </div>
                <!-- /banner -->
                <!-- banner -->
                <div class="col-md-3 col-sm-6 col-grey">
                    <a class="banner banner-1" href="#" title="">
                        <div class="imgContainer">
                            <img src="~/images/banner06.jpg" alt="">
                        </div>
                        <div class="banner-bottom">
                            <h4>Đồ nam bán chạy</h4>
                            <p>1,000 sản phẩm</p>
                        </div>
                    </a>
                </div>
                <!-- /banner -->
                <!-- banner -->
                <div class="col-md-3 col-sm-6 col-grey">
                    <a class="banner banner-1" href="#" title="">
                        <div class="imgContainer">
                            <img src="~/images/banner07.jpg" alt="">
                        </div>
                        <div class="banner-bottom">
                            <h4>100% từ thiên nhiên</h4>
                            <p>1,000 sản phẩm</p>
                        </div>
                    </a>
                </div>
                <!-- /banner -->
            </div>
            <!-- /row -->
            <div class="text-center"><button class="primary-btn">Xem thêm</button></div>
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row" id="product-random">

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
    <!-- FOOTER -->
    <footer id="footer" class="section section-grey">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- footer widget -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <!-- footer logo -->
                        <div class="footer-logo">
                            @*<a class="logo" href="#">
                                <img src="~/images/logo.png" alt="">
                            </a>*@
                            <h2>Empyreal!</h2>
                        </div>
                        <!-- /footer logo -->
                        <!-- footer social -->
                        <ul class="footer-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                        <!-- /footer social -->
                    </div>
                </div>
                <!-- /footer widget -->
                <!-- footer widget -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-header">Về Empyreal</h3>
                        <ul class="list-links">
                            <li><a href="#">Giới thiệu Empyreal</a></li>
                            <li><a href="#">Chính sách giải quyết khiếu nại</a></li>
                            <li><a href="#">Điều khoản sử dụng</a></li>
                            <li><a href="#">Empyreal tư vấn</a></li>
                            <li><a href="#">Ưu đãi</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /footer widget -->

                <div class="clearfix visible-sm visible-xs"></div>

                <!-- footer widget -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <h4 class="footer-header">Hỗ trợ khách hàng</h4>
                        <ul class="list-links">
                            <li><a href="#">Các câu hỏi thường gặp</a></li>
                            <li><a href="#">Gửi yêu cầu hỗ trợ</a></li>
                            <li><a href="#">Hướng dẫn đặt hàng</a></li>
                            <li><a href="#">Phương thức vận chuyển</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- /row -->
        </div>

        <table id="OptionsOfSearch">
        </table>
        <!-- /container -->
    </footer>

    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/all.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/nouislider.min.js"></script>
    <script src="~/js/jquery.zoom.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/HomeIndex.js"></script>
    <script src="~/js/main.js"></script>
</body>

